.App {
  text-align: center;
  background-color: #1e1c1c;
}
.animation-text {
  transition: all .5s ease-in-out;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 24px;
}

.animation-text.moveTop {
  top: 20%;
}

.social-icon {
  opacity: 0;
  margin-left: 10px;
}

#github-icon {
  animation: load 5s forwards 1.5s;
}

#linkedin-icon {
  animation: load 5s forwards 2.5s;
}

#medium-icon {
  animation: load 5s forwards 3.5s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}