.App {
  text-align: center;
  background-color: #1e1c1c;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation-text {
  transition: all 0.5s ease;
  color: white;
  font-size: 24px;
  position: relative;
}

.typed-cursor {
  color: white;
}

.social-container {
  margin-top: 50px;
  display: flex;
}

.social-icon {
  opacity: 0;
  margin-left: 10px;
}

#github-icon {
  animation: load 5s forwards 1.5s;
}

#linkedin-icon {
  animation: load 5s forwards 2.5s;
}

#medium-icon {
  animation: load 5s forwards 3.5s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
